.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

@media(max-width:870px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width:871px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail{
  width: 100%;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture{
  width: 50px;
}

.video-author,.video-stats{
  color:#606060;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 1px;
}

.video-title{
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 10px;
}

.channel-profile{
  width: 40px;
  border-radius: 100%;
}
.thumbnail-row{
  position: relative;
  margin-bottom: 12px;
}
.video-duration{
  background-color: black;
  color:white;
  position: absolute;
  bottom:11px;
  right: 4px ;
  font-weight: 500;
  border-radius: 2px 4px 2px 4px;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
}